.note {
  padding: 0px 10px 0px 34px;
  height: auto; 
  margin: auto;
  margin-top: 0.7em;
  width: 50%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;;
  font-size: 1.4em;
  color: #fff;
  background-color: #38A1F3;
  opacity: 1;
}

.edit {
  background-color: greenyellow;
}

.noteContent{
  float:left;
  padding-right: 70px;
  padding-bottom: 10px;
  display: block;
}

.close {
    color: #fff;
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 1.3em;
}

p {
  padding: 5px 0px;
  margin: 5px 0px;
  height: 0;
}