.wrapper {
  display: flex;
  margin: auto;
}

.editor {
  margin-top: 10px;
  width: 50%;
}

.notes {
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  max-height: 500px;
}

.total {
  background: green;
  color: #fff;
  padding: 20px;
  height: 59px;
  border-radius: 50%;
}